<footer id="pie">
    <div class="pie-mayor">
        <article class="article-pie">
            <i class="fas fa-credit-card"></i>
            <h1 class="titulo">Pagá con tarjeta o en efectivo</h1>
            <p class="pie-description">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="article-pie">
            <i class="fas fa-gift"></i>
            <h1 class="titulo">Envío gratis desde los $ 2.500</h1>
            <p class="pie-description">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article class="article-pie">
            <i class="fas fa-user-shield"></i>
            <h1 class="titulo">Seguridad, de principio a fin</h1>
            <p class="pie-description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegido.</p>
        </article>
    </div>
    <div>
        <p class="parrafo">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
  </footer>